html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
}
li.header {
  background-color: #d8d8d8;
  line-height: 40px;
  overflow: hidden;
  height: 40px; 
  width: 425px; 
  border: 0.25px solid #989898;
  margin: 10px;
  padding-left: 10px;
  border-radius: 5px;
  vertical-align: middle;
  position: relative;
}

#toggle-hdr {
  /* visibility: hidden; */
  position: absolute;
  top: 10px;
  left: 380px;
}

#toggle-hdr2 {
  /* visibility: hidden; */
  position: absolute;
  top: 10px;
  left: 400px;
}

.close-all {
  color: #5b7bca;
  text-decoration: underline;
  position: absolute;
  left: 360px;
  visibility: hidden;
  width: 100px;
}

.close-all:hover {
  cursor: pointer;
}

input[type=radio]:checked + .close-all:before {
  content: "";
  visibility: visible;
}

#toggle-hdr2:checked + .close-all:after {
  content: "close all";
  visibility: visible;
  
}
#toggle-hdr2:checked ~ span:after {
  content: "sections are open";
  visibility: visible;
}
#slide-hdr:before {
  content: "all sections are closed"
}
#toggle-hdr2:checked ~ #slide-hdr:before {
  content: "";
  display: none;
}
#toggle-hdr:checked ~ .close-all:before {
  content: "";
  visibility: visible;
}

li {
  list-style-type: none;
  position: relative;
  line-height: 40px;
  margin-left: 0px;
}

.letter {
  color: #efb15b;
  font-style: italic;
}

.box {
  position: relative;
}

.open {
  color: #5b7bca;
  text-decoration: underline;
  position: absolute;
  right: 20px;
  visibility: hidden;
}


.open:before {
  content: "open";
  visibility: visible;
}

input:checked + .open:after {
  content: "close";
  visibility: visible;
}

input:checked + .open:before {
  content: "";
  visibility: visible;
}

.open:hover,
.close-all:hover {
  cursor: pointer;
}

#slide1,
#slide2,
#slide3,
#slide4 {
  width: 425px;
  height: 40px;
  transition: height 0.5s;
  overflow: hidden;
  border: 0.25px solid #989898;
  margin: 0px 10px;
  padding-left: 10px;
  border-radius: 5px;
  vertical-align: middle;
}



label {
  display: inline-block;
}

label input {
  /* visibility: hidden; */
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 20px;
}

input:checked ~ #slide1 {
  width: 425px;
  height: 100px;
}

/* #toggle-hdr:checked ~ span {
  background-color: green;
} */

input:checked ~ #slide2 {
  width: 425px;
  height: 100px;
}

input:checked ~ #slide3 {
  width: 425px;
  height: 100px;
}

input:checked ~ #slide4 {
  width: 425px;
  height: 100px;
}

